<% let theme = 'default'; %>
<% let moduleData = { config, lang, database, theme } %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test site name</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Test site description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="application-name" content="Test site name">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#f9f9fc">
    <link rel="apple-touch-icon" href="/styles/icons/app-icon-apple.png">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="icon" href="/styles/icons/favicon.ico">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preload" href="/styles/material/material.min.css" as="style">
    <link rel="preload" href="/styles/font-awesome/css/font-awesome.min.css" as="style">
    <link rel="preload" href="/styles/themes/<%= theme %>/main.css" as="style">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/material/material.min.css">
    <link rel="stylesheet" href="/styles/themes/<%= theme %>/main.css">
    <!-- Include module head -->
    <%- include('modules/' + module + '/head', moduleData); %>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Exilocafe</span>
                <nav class="mdl-navigation page-nav">
                    <a href="/home" class="mdl-navigation__link" id="nav-home"><i class="material-icons">home</i></a>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-home">Home</div>
                    <a href="/newposts" class="mdl-navigation__link" id="nav-newposts"><i class="material-icons">timelapse</i></a>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-newposts">New posts</div>
                    <a href="/users" class="mdl-navigation__link" id="nav-users"><i class="material-icons">people_alt</i></a>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-users">Users</div>
                    <a href="/rules" class="mdl-navigation__link" id="nav-rules"><i class="material-icons">book</i></a>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-rules">Rules</div>
                    <a href="/tags" class="mdl-navigation__link" id="nav-tags"><i class="material-icons">local_offer</i></a>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-tags">Tags</div>
                </nav>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <div class="desktop-only">
                        <div class="search-forum-block">
                            <i class="material-icons">search</i>
                            <label for="search-forum-input" class="sr-only"><%= lang.indexPage.msg.searchForum %></label>
                            <input type="text" name="search" id="search-forum-input" placeholder="<%= lang.indexPage.msg.searchForum %>">
                        </div>
                        <div class="has-dropdown">
                            <span class="mdl-navigation__link"><i class="material-icons">question_answer</i></span>
                            <div class="dropdown-content">
                                <div class="notifications-drop-box">
                                    <div class="notification">
                                        <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                        <div class="message">
                                            <div class="from">Kryptoners (2)</div>
                                            <div class="chat">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet...</div>
                                        </div>
                                    </div>
                                    <div class="notification">
                                        <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                        <div class="message">
                                            <div class="from">testuser</div>
                                            <div class="chat">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet...</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <span><i class="fa fa-check" aria-hidden="true"></i>Mark all chats read</span>
                                <span><i class="fa fa-envelope-open" aria-hidden="true"></i>See all chats</span>
                            </div>
                        </div>
                        <div class="has-dropdown">
                            <span class="mdl-navigation__link"><i class="material-icons mdl-badge mdl-badge--overlap" data-badge="2">notifications</i></span>
                            <div class="dropdown-content">
                                <div class="notifications-drop-box">
                                    <div class="notification">
                                        <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                        <div class="message">
                                            <div class="date">2 minutes ago</div>
                                            <div><b>Kryptoners</b> have upvoted your post in <b>Welcome to the Exilocafe!</b>.</div>
                                        </div>
                                    </div>
                                    <div class="notification">
                                        <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                        <div class="message">
                                            <div class="date">12 minutes ago</div>
                                            <div><b>testuser</b> have upvoted your post in <b>New post is here!</b>.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <span><i class="fa fa-check" aria-hidden="true"></i>Mark all notifications read</span>
                                <span><i class="fa fa-envelope-open" aria-hidden="true"></i>See all notifications</span>
                            </div>
                        </div>
                        <span class="mdl-navigation__link account-settings-btn"><i class="material-icons">settings</i></span>
                    </div>
                    <div class="has-dropdown nav-size">
                        <span class="mdl-navigation__link account-btn">
                            <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                        </span>
                        <div class="dropdown-content">
                            <span><i class="fa fa-circle user-status online" aria-hidden="true"></i>digital512</span>
                            <div class="divider"></div>
                            <span><i class="fa fa-circle user-status online" aria-hidden="true"></i>Online</span>
                            <span><i class="fa fa-circle user-status away" aria-hidden="true"></i>Away</span>
                            <span><i class="fa fa-circle user-status no-disturb" aria-hidden="true"></i>Do not disturb</span>
                            <span><i class="fa fa-circle user-status offline" aria-hidden="true"></i>Invisible</span>
                            <div class="divider"></div>
                            <span><i class="fa fa-tasks" aria-hidden="true"></i>Admin panel</span>
                            <span><i class="fa fa-cog" aria-hidden="true"></i>Settings</span>
                            <div class="divider"></div>
                            <span><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</span>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="mobile-only mdl-layout__header-row">
                <!-- Navigation for mobile devices -->
                <nav class="mdl-navigation">
                    <span class="mdl-navigation__link" id="mobile-search-btn"><i class="material-icons">search</i></span>
                    <div class="has-dropdown">
                        <span class="mdl-navigation__link"><i class="material-icons">question_answer</i></span>
                        <div class="dropdown-content">
                            <div class="notifications-drop-box">
                                <div class="notification">
                                    <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                    <div class="message">
                                        <div class="from">Kryptoners (2)</div>
                                        <div class="chat">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet...</div>
                                    </div>
                                </div>
                                <div class="notification">
                                    <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                    <div class="message">
                                        <div class="from">testuser</div>
                                        <div class="chat">Lorem ipsum dolor sit amet lorem ipsum dolor sit amet...</div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <span><i class="fa fa-check" aria-hidden="true"></i>Mark all chats read</span>
                            <span><i class="fa fa-envelope-open" aria-hidden="true"></i>See all chats</span>
                        </div>
                    </div>
                    <div class="has-dropdown">
                        <span class="mdl-navigation__link"><i class="material-icons mdl-badge mdl-badge--overlap" data-badge="2">notifications</i></span>
                        <div class="dropdown-content">
                            <div class="notifications-drop-box">
                                <div class="notification">
                                    <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                    <div class="message">
                                        <div class="date">2 minutes ago</div>
                                        <div><b>Kryptoners</b> have upvoted your post in <b>Welcome to the Exilocafe!</b>.</div>
                                    </div>
                                </div>
                                <div class="notification">
                                    <div class="round-img avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                                    <div class="message">
                                        <div class="date">12 minutes ago</div>
                                        <div><b>testuser</b> have upvoted your post in <b>New post is here!</b>.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <span><i class="fa fa-check" aria-hidden="true"></i>Mark all notifications read</span>
                            <span><i class="fa fa-envelope-open" aria-hidden="true"></i>See all notifications</span>
                        </div>
                    </div>
                    <span class="mdl-navigation__link account-settings-btn"><i class="material-icons">settings</i></span>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Exilocafe</span>
            <nav class="mdl-navigation">
                <span class="mdl-navigation__link" data-location="home"><i class="material-icons">home</i>Home</span>
                <span class="mdl-navigation__link" data-location="newposts"><i class="material-icons">timelapse</i>New posts</span>
                <span class="mdl-navigation__link" data-location="users"><i class="material-icons">people_alt</i>Users</span>
                <span class="mdl-navigation__link" data-location="rules"><i class="material-icons">book</i>Rules</span>
                <span class="mdl-navigation__link" data-location="tags"><i class="material-icons">local_offer</i>Tags</span>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Include module body -->
                <%- include('modules/' + module + '/module', moduleData); %>
                <!-- Include footer -->
                <%- include('includes/footer', moduleData); %>
            </div>
        </main>
    </div>
    <script defer src="/scripts/material/material.min.js"></script>
    <script defer src="/scripts/jquery-3.4.1.min.js"></script>
    <script defer src="/scripts/main.js"></script>
</body>

</html>