<% let theme = 'default'; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Test site description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="application-name" content="Test site name">
    <title>Test site name</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <link rel="icon" sizes="192x192" href="/styles/themes/<%= theme %>/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Test site name">
    <link rel="apple-touch-icon-precomposed" href="/styles/themes/<%= theme %>/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/styles/themes/<%= theme %>/images/windows-desktop.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">

    <link rel="icon" href="/styles/themes/<%= theme %>/images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/themes/<%= theme %>/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/material/material.min.css">
    <link rel="stylesheet" href="/styles/themes/<%= theme %>/main.css">
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <!-- Include module head -->
    <%- include('modules/' + module + '/head', { config: config, lang: lang, database: database, theme: theme }); %>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
        <header class="mdl-layout__header mdl-layout__header--scroll">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Exilocafe</span>
                <nav class="mdl-navigation page-nav">
                    <span class="mdl-navigation__link" id="nav-home" data-location="home"><i class="material-icons">home</i></span>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-home">Home</div>
                    <span class="mdl-navigation__link" id="nav-newposts" data-location="newposts"><i class="material-icons">timelapse</i></span>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-newposts">New posts</div>
                    <span class="mdl-navigation__link" id="nav-users" data-location="users"><i class="material-icons">people_alt</i></span>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-users">Users</div>
                    <span class="mdl-navigation__link" id="nav-rules" data-location="rules"><i class="material-icons">book</i></span>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-rules">Rules</div>
                    <span class="mdl-navigation__link" id="nav-tags" data-location="tags"><i class="material-icons">local_offer</i></span>
                    <div class="mdl-tooltip mdl-tooltip--large" for="nav-tags">Tags</div>
                </nav>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <div class="desktop-only">
                        <div class="search-forum-block"><i class="material-icons">search</i><input type="text" name="search" id="search-forum-input" placeholder="<%= lang.indexPage.msg.searchForum %>"></div>
                        <span class="mdl-navigation__link"><i class="material-icons">question_answer</i></span>
                        <span class="mdl-navigation__link"><i class="material-icons mdl-badge mdl-badge--overlap" data-badge="2">notifications</i></span>
                        <span class="mdl-navigation__link" id="account-settings-btn"><i class="material-icons">settings</i></span>
                    </div>
                    <span class="mdl-navigation__link account-btn">
                        <div class="avatar-img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                    </span>
                </nav>
            </div>
            <div class="mobile-only mdl-layout__header-row">
                <!-- Navigation for mobile devices -->
                <nav class="mdl-navigation">
                    <span class="mdl-navigation__link" id="mobile-search-btn"><i class="material-icons">search</i></span>
                    <span class="mdl-navigation__link"><i class="material-icons">question_answer</i></span>
                    <span class="mdl-navigation__link"><i class="material-icons mdl-badge mdl-badge--overlap" data-badge="2">notifications</i></span>
                    <span class="mdl-navigation__link" id="account-settings-btn"><i class="material-icons">settings</i></span>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Exilocafe</span>
            <nav class="mdl-navigation">
                <span class="mdl-navigation__link" data-location="home"><i class="material-icons">home</i>Home</span>
                <span class="mdl-navigation__link" data-location="newposts"><i class="material-icons">timelapse</i>New posts</span>
                <span class="mdl-navigation__link" data-location="users"><i class="material-icons">people_alt</i>Users</span>
                <span class="mdl-navigation__link" data-location="rules"><i class="material-icons">book</i>Rules</span>
                <span class="mdl-navigation__link" data-location="tags"><i class="material-icons">local_offer</i>Tags</span>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Include module body -->
                <%- include('modules/' + module + '/module', { config: config, lang: lang, database: database, theme: theme }); %>
                <!-- Include footer -->
                <%- include('includes/footer', { config: config, lang: lang, database: database }); %>
            </div>
        </main>
    </div>
    <script src="/scripts/material.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>