<div class="home-header-img">
    <div class="title">Forums</div>
</div>
<div class="module-content">
    <div class="main-forum">
        <table class="forum-table">
            <tr>
                <th class="th-width--stretch">Main forums</th>
                <th class="table-align--center resp--hide1">Topics</th>
                <th class="table-align--center resp--hide1">Posts</th>
                <th class="resp--hide2">Last post</th>
            </tr>
            <tr class="category-link">
                <td>
                    <div class="row-align--center">
                        <div class="category-icon" style="color:#fff;background-color:#39b54a;"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
                        <div class="category-text">
                            <div class="title">Analytics dashboard tools</div>
                            <div class="subtitle">Lorem ipsum dolor sit amet and everything related with it</div>
                        </div>
                    </div>
                </td>
                <td class="table-align--center resp--hide1">7</td>
                <td class="table-align--center resp--hide1">25</td>
                <td class="resp--hide2">
                    <div class="row-align--center">
                        <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                        <div class="category-text last-post-text">
                            <a class="author" href="">digital512</a>
                            <div class="date">Mar 14, 2019, 17:45</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="category-link">
                <td>
                    <div class="row-align--center">
                        <div class="category-icon" style="color:#fff;background-color:#ff404a;"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                        <div class="category-text">
                            <div class="title">CRM courses thread</div>
                            <div class="subtitle">Find useful tips and course collections</div>
                        </div>
                    </div>
                </td>
                <td class="table-align--center resp--hide1">17</td>
                <td class="table-align--center resp--hide1">98</td>
                <td class="resp--hide2">
                    <div class="row-align--center">
                        <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                        <div class="category-text last-post-text">
                            <a class="author" href="">digital512</a>
                            <div class="date">Mar 14, 2019, 17:45</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table class="forum-table">
            <tr>
                <th class="th-width--stretch">Custom forums</th>
                <th class="table-align--center resp--hide1">Topics</th>
                <th class="table-align--center resp--hide1">Posts</th>
                <th class="resp--hide2">Last post</th>
            </tr>
            <tr class="category-link">
                <td>
                    <div class="row-align--center">
                        <div class="category-icon"><i class="fa fa-folder" aria-hidden="true"></i></div>
                        <div class="category-text">
                            <div class="title">Analytics dashboard tools</div>
                            <div class="subtitle">Lorem ipsum dolor sit amet and everything related with it</div>
                        </div>
                    </div>
                </td>
                <td class="table-align--center resp--hide1">7</td>
                <td class="table-align--center resp--hide1">25</td>
                <td class="resp--hide2">
                    <div class="row-align--center">
                        <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                        <div class="category-text last-post-text">
                            <a class="author" href="">digital512</a>
                            <div class="date">Mar 14, 2019, 17:45</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="category-link">
                <td>
                    <div class="row-align--center">
                        <div class="category-icon"><i class="fa fa-folder" aria-hidden="true"></i></div>
                        <div class="category-text">
                            <div class="title">CRM courses thread</div>
                            <div class="subtitle">Find useful tips and course collections</div>
                        </div>
                    </div>
                </td>
                <td class="table-align--center resp--hide1">17</td>
                <td class="table-align--center resp--hide1">98</td>
                <td class="resp--hide2">
                    <div class="row-align--center">
                        <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                        <div class="category-text last-post-text">
                            <a class="author" href="">digital512</a>
                            <div class="date">Mar 14, 2019, 17:45</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="category-link">
                <td>
                    <div class="row-align--center">
                        <div class="category-icon"><i class="fa fa-folder" aria-hidden="true"></i></div>
                        <div class="category-text">
                            <div class="title">CRM courses thread</div>
                            <div class="subtitle">Find useful tips and course collections</div>
                        </div>
                    </div>
                </td>
                <td class="table-align--center resp--hide1">17</td>
                <td class="table-align--center resp--hide1">98</td>
                <td class="resp--hide2">
                    <div class="row-align--center">
                        <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                        <div class="category-text last-post-text">
                            <a class="author" href="">digital512</a>
                            <div class="date">Mar 14, 2019, 17:45</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="users-box">
            <div class="header">Online users: <i>31</i></div>
            <div class="content">
                <div id="user-id-1" class="btn" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="user-id-1">digital512</div>
                <div id="user-id-2" class="btn" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="user-id-2">Kryptoners</div>
                <div class="btn"><i class="material-icons">more_horiz</i></div>
            </div>
        </div>
    </div>
    <!-- Include sidebar -->
    <%- include('../../includes/sidebar', { config: config, lang: lang, database: database, theme: theme }); %>
</div>